.techStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
  height: auto;
}

.techStack h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000000;
  font-family: "Cabin", sans-serif;
  align-self: start;
  margin-left: 140px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20px;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 0 30px;
}

.logo img {
  width: 120px;
  height: 120px;
  margin: 30px;
}

.logo img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .techStack h1 {
    font-size: 1.8rem;
    margin-left: 20px;
  }

  .logo {
    gap: 10px;
  }

  .logo img {
    width: 70px;
    height: 70px;
    margin: 15px;
  }
}

@media (max-width: 480px) {
  .techStack h1 {
    font-size: 1.5rem;
    margin-left: 10px;
  }

  .logo img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
